/.metadata/
/.recommenders/
Week2-Jackie/05-30-2018 - Create DB Instance AWS & Setup DB in Oracle SQL Developer.txt
Week2-Jackie/JDBC/herojdbc/database.properties
Week2-Jackie/05-30-2018 - Create DB Instance AWS & Setup DB in Oracle SQL Developer.txt
Week2-Jackie/JDBC/herojdbc/src.7z

